* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #12111f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.heading {
  color: #97a3b6;
  position: relative;
}

.heading__text {
  position: absolute;
  margin-left: 200px;
  margin-top: 100px;
  font-size: 3rem;
  width: 80%;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
