* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
  background-color: #12111f;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  color: white;
}

.heading {
  color: #97a3b6;
  position: relative;
  margin-top: 6rem;
}

.heading__text {
  position: absolute;
  margin-left: 200px;
  margin-top: 100px;
  font-size: 3rem;
  width: 80%;
}

.sub-heading {
  font-size: 1.25rem;
  color: #f2f5f9;
  margin-bottom: 0.5rem;
}

.sub-heading_p {
  font-size: 1rem;
  color: #97a3b6;
  margin-bottom: 2rem;
}

.tab {
  display: flex;
  gap: 40px;
  margin-bottom: 3rem;
}

.accordion {
  width: 100%;
}

.accordionItem {
  display: flex;
  align-items: left;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  max-width: 50%;
}

.accordionTitle {
  color: #cdd5e0;
  margin-bottom: 1rem;
  width: 900px;
}

.accordion-drop {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  width: 30px;
  margin-bottom: 0.7rem;
}

.accordionContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
  justify-content: left;
  display: none;
}

button {
  font-size: 1.25rem;
  border: none;
  border: 2px solid transparent;
  background: none;
  cursor: pointer;
  margin-top: 2rem;
  color: #f2f5f9;
  padding: 10px 15px;
}

button:hover,
button:focus {
  background-color: #2a2936;
  border-radius: 50px;
}

.author-info {
  font-size: 14px;
  text-align: center;
  margin-top: 16px;
  color: rgb(55, 65, 81);
}

.author-info a {
  text-decoration: none;
}
